.footer {
  align-items: center;
  background-image: url('/assets/fundo1.png');
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 0;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0 50px;
  width: 100%;
  div {
    display: flex;
    gap: 50px;
  }
  span {
    color: white;
    font-size: 18px;
    text-align: right;
  }
  @media (max-width:600px){
    span {
      font-size: 10px;
    }
  }
}

@media (max-width:600px){
  .footer{
   height: 60px;
  }
}